// Type
$typeface:          'ff-more-web-pro', georgia, times, serif
$headerTypeface:    $typeface
$baseMultiplier:    2
$line-height:       16px * $baseMultiplier

// colors
$typeColor:         #444
$mediumTypeColor:   lighten($typeColor, 20%)
$lightTypeColor:    lighten($typeColor, 40%)
$linkColor:         #3288E6
$accentColor:       #E54F4C