// gnelsonj.com

// Compass Imports
@import "compass/utilities/general/clearfix"
@import "compass/css3"

// Layout

// Type
$typeface:          'ff-more-web-pro', 'ff-tisa-web-pro', georgia, times, serif
$headerTypeface:    'ff-more-web-pro', 'ff-good-headline-web-pro-con', helvetica, arial, sans-serif
$baseMultiplier:    2
$line-height:       16px * $baseMultiplier

// colors
$typeColor:         #444
$mediumTypeColor:   lighten($typeColor, 20%)
$lightTypeColor:    lighten($typeColor, 40%)
$linkColor:         #3288E6
$accentColor:       #E54F4C

//mixins
@mixin remFallback($property, $rem)
    #{$property}: $rem * $line-height
    #{$property}: $rem + rem

// Style Imports

html
    font-size: 100% * $baseMultiplier
    border-top: 5px solid $accentColor

    @media all and (max-width: 35em)
        font-size: 100% * $baseMultiplier * 0.825

body
    font-family: $typeface
    color: $typeColor
    margin: 0
    +remFallback("font-size", 0.6)
    +remFallback("line-height", 1)

    @media all and (max-width: 35em)
        margin:
            left: 5%
            right: 5%

h1, h2, h3, h4, h5, h6, p, li, blockquote, pre
    margin: 0
    +remFallback("line-height", 1)

h1, h2, h3, h4, h5, h6
    font-family: $headerTypeface
    font-weight: 400

h1
    font-size: 3em
    +remFallback("line-height", 2)

    @media all and (max-width: 35em)

h2
    font-size: 2em
    
h3
    font-size: 0.8em
    text-transform: uppercase
    letter-spacing: 0.1em
    
    &.span1
        text-align: right

        @media all and (max-width: 35em)
            text-align: left

h4, h5, h6
    font-size: 1em

li
    +remFallback("margin-top", 0.5)

    &:first-child
        margin-top: 0
        
p, blockquote, pre, h2, h3, img, #disqus_thread
    +remFallback("margin-top", 1)

    &:first-child
        margin-top: 0

a
    color: $typeColor
    border-bottom: 1px dotted $typeColor
    text-decoration: none

    &:hover
        color: $linkColor
        border-color: $linkColor

ul, ol
    margin: 0
    padding: 0

    &.unstyled
        list-style: none

    &.inline
        li
            padding: 0 2em 0 0
            display: inline

blockquote
    font-style: italic
    color: #666
    padding-left: 1em
    border-left: 4px solid #CCC

header
    +remFallback("margin-bottom", 2)

.logo
    text-align: center
    font-style: italic
    color: lighten($accentColor, 20%)
    +remFallback("font-size", 0.6)

section
    +remFallback("margin-top", 2)

    @media all and (max-width: 35em)
        +remFallback("margin-top", 1)

img
    max-width: 100%
    margin:
        left: auto
        right: auto
    display: block
    +remFallback("max-height", 15)

.breadcrumb
    color: $lightTypeColor
    text-align: right
    border: 0
    display: block
    +remFallback("line-height", 2)


    @media all and (max-width: 35em)
        text-align: left
.no-pad
    margin: 0
    padding: 0

.post-date, .talk-date
    text-transform: none
    color: $lightTypeColor

#post
    .post-date
        text-align: right
        color: $typeColor

    h1, h2, h3, h4, h5, h6
        text-align: center

.about
    border-top: 1px dotted #ddd
    +remFallback("padding-top", 1)
    +remFallback("margin-top", 1)

#footer
    font-size: 0.75em
    color: #999
    +remFallback("margin-top", 4)
    +remFallback("margin-bottom", 1)

    a
        border: 0
        color: #999

.row
    +pie-clearfix()
    max-width: 55em
    margin:
        left: auto
        right: auto

    .span1
        @extend .spanBase
        width: 16.6666667%

    .span2
        @extend .spanBase
        width: 33.3333334%

    .span3
        @extend .spanBase
        width: 50.0000001%

    .span4
        @extend .spanBase
        width: 66.6666668%

    .span5
        @extend .spanBase
        width: 83.3333335%

    .span6
        @extend .spanBase
        width: 100%
    
    .spanBase
        display: block
        float: left
        +remFallback("padding-left", 0.5)
        +remFallback("padding-right", 0.5)
        +box-sizing(border-box)

        @media all and (max-width: 35em)
            width: 100%
            padding: 0

    .offset1
        @extend .offsetBase
        margin-left: 16.6666667%

    .offsetBase
        @media all and (max-width: 35em)
            margin-left: 0