/* line 1, ../sass/screen.sass */
html {
  font-size: 32px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #444444;
}

/* line 6, ../sass/screen.sass */
body, p, ul, ol {
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}

/* line 11, ../sass/screen.sass */
h1, h2, h3, h4 {
  font-family: proxima-nova;
}

/* line 14, ../sass/screen.sass */
h1, h2 {
  text-align: center;
}

/* line 17, ../sass/screen.sass */
h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  margin: 1rem 0;
  letter-spacing: -1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* line 25, ../sass/screen.sass */
h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* line 33, ../sass/screen.sass */
h3 {
  font-size: 25px;
  font-weight: 800;
  line-height: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.5;
}

/* line 44, ../sass/screen.sass */
ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* line 49, ../sass/screen.sass */
.wrapper {
  width: auto;
  max-width: 1080px;
  margin: 0 auto;
}

/* line 54, ../sass/screen.sass */
.orange-box {
  background-color: #f5d0b8;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}
/* line 60, ../sass/screen.sass */
.orange-box * {
  color: #ab5115;
}
/* line 63, ../sass/screen.sass */
.orange-box h2 {
  margin: 0;
}
/* line 66, ../sass/screen.sass */
.orange-box h3 {
  margin-top: 0;
}

/* line 68, ../sass/screen.sass */
.option {
  font-size: 13px;
  text-transform: uppercase;
  color: #999999;
  line-height: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

/* line 78, ../sass/screen.sass */
.button {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 20px;
  background-color: #f7761f;
  border-radius: 3px;
  display: block;
  max-width: 50%;
  margin: 1rem auto 0;
  text-decoration: none;
  font-family: proxima-nova;
  text-align: center;
}
/* line 91, ../sass/screen.sass */
.button.grey {
  font-size: 16px;
  background-color: #999999;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  margin-top: 0.5rem;
}

/* line 98, ../sass/screen.sass */
#header {
  padding: 2rem 0;
  background-color: #e68a4c;
  color: white;
}
/* line 103, ../sass/screen.sass */
#header h2 {
  color: #ab5115;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 109, ../sass/screen.sass */
#content {
  margin: 0 0 3rem 0;
}
/* line 112, ../sass/screen.sass */
#content p, #content h2, #content h3, #content h4, #content ul, #content ol, #content .orange-box {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
