/* line 1, ../sass/screen.sass */
html {
  font-size: 32px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #444444;
}

/* line 6, ../sass/screen.sass */
body {
  margin: 0;
  font-size: 0.6rem;
  line-height: 1rem;
  padding-bottom: 4rem;
}

/* line 12, ../sass/screen.sass */
h1, h2, h3, h4 {
  font-family: proxima-nova;
}

/* line 15, ../sass/screen.sass */
h1 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.5rem;
  margin: 0 0 1rem;
  letter-spacing: -1px;
}

/* line 22, ../sass/screen.sass */
h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #444444;
  margin: 0 0 2rem;
}

/* line 29, ../sass/screen.sass */
h3 {
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 0.75rem;
  color: #444444;
  margin: 0 0 0.25rem;
}

/* line 36, ../sass/screen.sass */
p {
  margin: 0;
  line-height: 1rem;
  font-size: 1em;
}
/* line 41, ../sass/screen.sass */
p + p, p + h3 {
  margin-top: 1rem;
}

/* line 44, ../sass/screen.sass */
ul {
  margin: 0.5rem 0 0 1rem;
}
/* line 47, ../sass/screen.sass */
ul li + li {
  margin: 0.5rem 0 0;
}

/* line 50, ../sass/screen.sass */
form {
  margin-top: 1rem;
}
/* line 53, ../sass/screen.sass */
form .button {
  float: right;
}
/* line 56, ../sass/screen.sass */
form input {
  padding: 0.25rem;
  border: 1px solid #ab5115;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
/* line 65, ../sass/screen.sass */
form .row-fluid + .row-fluid {
  margin-top: 0.5em;
}

/* line 68, ../sass/screen.sass */
.hs-page-width-normal {
  padding: 0 5%;
}

/* line 71, ../sass/screen.sass */
.row-fluid {
  width: auto;
}

/* line 74, ../sass/screen.sass */
.section + .section {
  margin-top: 3rem;
}

/* line 77, ../sass/screen.sass */
.sub-section + .sub-section {
  margin-top: 2rem;
}

/* line 80, ../sass/screen.sass */
.box {
  padding: 1rem;
  border-radius: 5px;
}
/* line 84, ../sass/screen.sass */
.box.orange {
  background-color: #f5d0b8;
}
/* line 87, ../sass/screen.sass */
.box.orange * {
  color: #ab5115;
}
/* line 90, ../sass/screen.sass */
.box.orange .button {
  background-color: #f7761f;
  color: white;
}
/* line 94, ../sass/screen.sass */
.box.orange .button:hover {
  background-color: #db5d08;
}
/* line 97, ../sass/screen.sass */
.box.orange .option-text {
  color: #e7823f;
}
/* line 100, ../sass/screen.sass */
.box.grey {
  background-color: #eeeeee;
}
/* line 103, ../sass/screen.sass */
.box h2 {
  margin: 0;
}
/* line 106, ../sass/screen.sass */
.box h3 {
  margin-top: 0;
}

/* line 109, ../sass/screen.sass */
.option-text, .breadcrumbs {
  font-size: 13px;
  text-transform: uppercase;
  color: #999999;
  line-height: 1rem;
  margin: 0;
  display: block;
}

/* line 117, ../sass/screen.sass */
.button {
  color: white;
  border-radius: 3px;
  max-width: 50%;
  text-decoration: none;
  font-family: proxima-nova;
  text-align: center;
  font-size: 16px;
  background-color: #999999;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  margin-top: 1rem;
}
/* line 130, ../sass/screen.sass */
.button:hover {
  text-decoration: none;
  color: white;
  background-color: gray;
}

/* line 135, ../sass/screen.sass */
.comparison-link {
  margin-top: 0.5rem;
  display: inline-block;
}

/* line 139, ../sass/screen.sass */
.header {
  padding-top: 4rem;
}
/* line 142, ../sass/screen.sass */
.header.with-tabs {
  padding-bottom: 0;
}
/* line 145, ../sass/screen.sass */
.header .tabs {
  text-align: center;
}
/* line 148, ../sass/screen.sass */
.header .tabs .tab {
  width: 100%;
  background-color: #eeeeee;
  display: block;
  padding: 0.5rem 0;
  border-bottom: 4px solid #eeeeee;
  border-radius: 5px 5px 0 0;
}
/* line 156, ../sass/screen.sass */
.header .tabs .tab.selected {
  background-color: white;
}
/* line 159, ../sass/screen.sass */
.header .tabs .tab.selected, .header .tabs .tab:hover, .header .tabs .tab:active {
  border-top: 4px solid #96bfd3;
  border-bottom: 0;
}

/* line 163, ../sass/screen.sass */
.tab-content {
  display: none;
}
/* line 165, ../sass/screen.sass */
.tab-content.shown {
  display: block;
}
/* line 168, ../sass/screen.sass */
.tab-content table {
  width: 100%;
}
/* line 171, ../sass/screen.sass */
.tab-content table th {
  text-align: left;
  width: 50%;
  background-color: #eeeeee;
}
/* line 176, ../sass/screen.sass */
.tab-content table th, .tab-content table td {
  padding: 5px 10px;
  border: 1px solid #dddddd;
}

/* line 180, ../sass/screen.sass */
.month {
  text-align: center;
  background-color: #eeeeee;
  padding: 1rem;
}

/* line 185, ../sass/screen.sass */
.tool-changes {
  text-align: center;
}
/* line 188, ../sass/screen.sass */
.tool-changes img {
  margin-bottom: 0.5rem;
}

/* line 192, ../sass/screen.sass */
.row-fluid .offset1:first-child {
  margin-left: 8.54701%;
}

/* line 195, ../sass/screen.sass */
.row-fluid .offset2:first-child {
  margin-left: 17.09402%;
}

/* line 198, ../sass/screen.sass */
.row-fluid .offset3:first-child {
  margin-left: 25.64103%;
}

@media all and (max-height: 800px), (max-width: 767px) {
  /* line 203, ../sass/screen.sass */
  html {
    font-size: 24px;
  }

  /* line 206, ../sass/screen.sass */
  body {
    font-size: 0.65rem;
  }
}
@media all and (max-width: 767px) {
  /* line 211, ../sass/screen.sass */
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }

  /* line 214, ../sass/screen.sass */
  .icon {
    text-align: center;
    display: block;
    margin: 0 auto 1rem;
  }
}
