/* line 1, ../sass/screen.sass */
html {
  font-size: 32px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #444444;
}

/* line 6, ../sass/screen.sass */
body {
  margin: 0;
  font-size: 0.5rem;
  line-height: 1rem;
  padding-bottom: 4rem;
}

/* line 12, ../sass/screen.sass */
h1, h2, h3, h4 {
  font-family: proxima-nova;
}

/* line 15, ../sass/screen.sass */
h2 {
  text-align: center;
}

/* line 18, ../sass/screen.sass */
h1 {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 2rem;
  margin: 1rem 0;
  letter-spacing: -1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: white;
}

/* line 27, ../sass/screen.sass */
h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #444444;
  margin: 0 0 2rem;
}

/* line 34, ../sass/screen.sass */
h3 {
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 0.75rem;
  color: #444444;
  margin: 0 0 0.25rem;
}

/* line 41, ../sass/screen.sass */
p {
  margin: 0;
}

/* line 44, ../sass/screen.sass */
ul {
  margin: 0.5rem 0 0 1rem;
}
/* line 47, ../sass/screen.sass */
ul li + li {
  margin: 0.5rem 0 0;
}

/* line 50, ../sass/screen.sass */
.hs-page-width-normal {
  padding: 0 5%;
}

/* line 53, ../sass/screen.sass */
.row-fluid {
  width: auto;
}

/* line 56, ../sass/screen.sass */
.section + .section {
  margin-top: 4rem;
}

/* line 59, ../sass/screen.sass */
.sub-section + .sub-section {
  margin-top: 2rem;
}

/* line 62, ../sass/screen.sass */
.orange-box {
  background-color: #f5d0b8;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}
/* line 68, ../sass/screen.sass */
.orange-box * {
  color: #ab5115;
}
/* line 71, ../sass/screen.sass */
.orange-box h2 {
  margin: 0;
}
/* line 74, ../sass/screen.sass */
.orange-box h3 {
  margin-top: 0;
}

/* line 77, ../sass/screen.sass */
.option {
  font-size: 13px;
  text-transform: uppercase;
  color: #999999;
  line-height: 1rem;
  margin: 0;
  display: block;
}

/* line 85, ../sass/screen.sass */
.button {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 20px;
  background-color: #f7761f;
  border-radius: 3px;
  display: block;
  max-width: 50%;
  margin: 1rem auto 0;
  text-decoration: none;
  font-family: proxima-nova;
  text-align: center;
}
/* line 98, ../sass/screen.sass */
.button.grey {
  font-size: 16px;
  background-color: #999999;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  margin-top: 0.5rem;
}

/* line 105, ../sass/screen.sass */
.comparison-link {
  margin-top: 0.5rem;
  display: inline-block;
}

/* line 109, ../sass/screen.sass */
#header {
  padding: 2rem 0;
  background-color: #e68a4c;
  color: white;
  text-align: center;
}
/* line 115, ../sass/screen.sass */
#header.with-tabs {
  padding-bottom: 0;
}
/* line 118, ../sass/screen.sass */
#header h2 {
  color: #ffe1cc;
  margin: 0;
  line-height: 1.5rem;
}
/* line 122, ../sass/screen.sass */
#header .tabs {
  margin-top: 1.5rem;
}
/* line 125, ../sass/screen.sass */
#header .tabs .tab {
  width: 100%;
  background-color: #eeeeee;
  display: block;
  padding: 0.5rem 0;
  border-bottom: 4px solid #eeeeee;
  border-radius: 5px 5px 0 0;
}
/* line 133, ../sass/screen.sass */
#header .tabs .tab.selected {
  background-color: white;
}
/* line 136, ../sass/screen.sass */
#header .tabs .tab.selected, #header .tabs .tab:hover, #header .tabs .tab:active {
  border-top: 4px solid #96bfd3;
  border-bottom: 0;
}

/* line 140, ../sass/screen.sass */
.tab-content {
  display: none;
}
/* line 142, ../sass/screen.sass */
.tab-content.shown {
  display: block;
}
/* line 145, ../sass/screen.sass */
.tab-content table {
  width: 100%;
}
/* line 148, ../sass/screen.sass */
.tab-content table th {
  text-align: left;
  width: 50%;
  background-color: #eeeeee;
}
/* line 153, ../sass/screen.sass */
.tab-content table th, .tab-content table td {
  padding: 5px 10px;
  border: 1px solid #dddddd;
}

/* line 157, ../sass/screen.sass */
.month {
  text-align: center;
  background-color: #eeeeee;
  padding: 1rem;
}

/* line 163, ../sass/screen.sass */
.row-fluid .offset1:first-child {
  margin-left: 8.54701%;
}

/* line 166, ../sass/screen.sass */
.row-fluid .offset2:first-child {
  margin-left: 17.09402%;
}

/* line 169, ../sass/screen.sass */
.row-fluid .offset3:first-child {
  margin-left: 25.64103%;
}

@media all and (max-height: 800px), (max-width: 767px) {
  /* line 174, ../sass/screen.sass */
  html {
    font-size: 24px;
  }

  /* line 177, ../sass/screen.sass */
  body {
    font-size: 0.65rem;
  }
}
@media all and (max-width: 767px) {
  /* line 182, ../sass/screen.sass */
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }

  /* line 185, ../sass/screen.sass */
  .icon {
    text-align: center;
    display: block;
    margin: 0 auto 1rem;
  }
}
