---
layout: default
---
<header class="row">
    <div class="span4 offset1">
        <a href="/"><h2 class="logo">Nelson Joyce — Product Designer</h2></a>
    </div>
</header>
<article id="post">
    <header class="row">
        <h3 class="span4 offset1">{{ page.date | date: '%B %d, %Y' }}</h3><br><br>
        <h1 class="span4 offset1 post-title">{{page.title}}</h1>
    </header>
    <div class="row">
        <div class="span4 offset1">
            {{ content }}
            <p>
                <a href="https://twitter.com/share?text=%22{{ page.title | UrlEncode }}%22%20-%20" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi" target="_blank">Tweet This</a>
            </p>
        </div>
    </div>
</article>
<div class="row about">
    <div class="span1">
      <img src="http://gnelsonj.com/images/nelson-joyce.png" width="100" style="margin-bottom:1rem;">
    </div>
    <div class="span4">
      <h2>About Nelson</h2>
      <p>I'm a product designer from Boston, MA and Cofounder of <a href="http://tettra.co">Tettra</a>. I previously built a "startup" inside of HubSpot called <a href="http://www.leadin.com">Leadin</a>. I'm passionate about creating products people love.</p>
      <p>You should:</p>
      <br>
      <ol>
          <li><a href="http://eepurl.com/Jzstf">Subscribe for future updates</a></li>
          <li><a href="https://twitter.com/nelsonjoyce" target="_blank">Follow me on Twitter</a></li>
          <li><a href="/work.html">Found out more about me</a></li>
      </ol>
    </div>

</div>
