---
layout: default
---

<article id="post">
    <header class="row">
        <h1 class="span4 offset1 post-title">{{page.title}}</h1>
    </header>
    <div class="row">
        <h3 class="span1 post-date">{{ page.date | date: "%b %d, %Y" }}</h3>
        <div class="span4">
            {{ content }}
            <p>
                <a href="https://twitter.com/share?text=%22{{ page.title | UrlEncode }}%22%20-%20" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi" target="_blank">Tweet This</a>
            </p>
            <p class="about">
                <strong>About Nelson</strong>
                <br>
                I'm a product designer from Boston, MA currently working at <a href="http://www.hubspot.com">HubSpot</a>. I'm passionate about building products people love by researching, testing, building, and iterating on inteface designs.
                <br>
                <a href="https://twitter.com/nelsonjoyce" target="_blank">You should follow me on Twitter.</a>
                <br>
                <a href="/">More about me.</a>
            </p>
        </div>
    </div>
</article>